fastapi==0.93.0
uvicorn==0.20.0
pydantic==1.10.5
starlette==0.25.0
python-multipart==0.0.6
requests
joblib==1.2.0
pypdf2==3.0.1
tensorflow~=2.11.0
keras~=2.11.0
transformers==4.26.1
pytesseract==0.3.10
pdf2image
pandas